## –ù–∞—á–∞–ª—å–Ω–æ–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–î–∞–Ω–Ω—ã–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—Ç —Å–æ–±–æ–π –¥–≤–∞ –ª–∏—Å—Ç–∞ —Ñ–æ—Ä–º–∞—Ç–∞ .xlsx. –°–æ–µ–¥–∏–Ω–∏–º –∏—Ö –≤ –æ–¥–∏–Ω –∏ –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ —Ñ–æ—Ä–º–∞—Ç .csv.

In [15]:
import pandas as pd

In [16]:
file_xlsx = pd.ExcelFile('st-data-full.xlsx')

In [17]:
sheets = file_xlsx.sheet_names

In [18]:
df_sheets = []
for sheet in sheets:
    data = pd.read_excel(file_xlsx, sheet_name = sheet)
    print(data)
    df_sheets.append(data)

                                                     text  label
0       if you were curious, price chose the lowest ch...      1
1                  true, not even 10k followers here yet.      1
2       dogecoin co-founder billy markus hits back at ...      1
3        i‚Äôm curious, do any bulls have a price where ...      1
4                  friday everybody buy 10 more on friday      2
...                                                   ...    ...
599995  so did i 850% with ! get in below a dollar. st...      2
599996  notice it‚Äôs the same few brain dead people bas...      2
599997  attention!!! anyone under the age of 18‚Ä¶. stea...      2
599998   dickhead bears fucked. keep your big mouths s...      2
599999         hit that shit and make it turn like turnip      2

[600000 rows x 2 columns]
                                                     text  label
0        trading at very low volumes, far less liquid ...      0
1                      we gunna hit 14k followers tonight      1
2       üö® meme challenge . üö® whoever creates the best ...      2
3        see y'all tomorrow and can't wait to see ada ...      2
4       damn, is this going to follow the way haa been...      1
...                                                   ...    ...
731692  i tried well now the haters are -45% or liquid...      0
731693   i'd be pretty happy if bitcoin ended the year...      2
731694             will jump to 88 000 in no time üò¨‚úàÔ∏è‚úàÔ∏è‚úàÔ∏è      2
731695      set it and forget it, i‚Äôll see you guys at üòâüòâ      2
731696                       man did this came to life ü•≤üòú      1

[731697 rows x 2 columns]

In [19]:
df = pd.concat(df_sheets, axis=0, ignore_index=True) # —Å–æ–µ–¥–∏–Ω—è–µ–º –≤–µ—Ä—Ç–∏–∫–∞–ª—å–Ω–æ
                                                    # —Å –ø—Ä–æ–¥–æ–ª–∂–µ–Ω–∏–µ–º –∏–Ω–¥–µ–∫—Å–∞

In [20]:
df.to_csv('stc-data.csv', index=False)

In [21]:
df.head()

                                                text  label
0  if you were curious, price chose the lowest ch...      1
1             true, not even 10k followers here yet.      1
2  dogecoin co-founder billy markus hits back at ...      1
3   i‚Äôm curious, do any bulls have a price where ...      1
4             friday everybody buy 10 more on friday      2

In [22]:
df.tail()

                                                      text  label
1331692  i tried well now the haters are -45% or liquid...      0
1331693   i'd be pretty happy if bitcoin ended the year...      2
1331694             will jump to 88 000 in no time üò¨‚úàÔ∏è‚úàÔ∏è‚úàÔ∏è      2
1331695      set it and forget it, i‚Äôll see you guys at üòâüòâ      2
1331696                       man did this came to life ü•≤üòú      1

In [23]:
df.shape

(1331697, 2)